<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <input type="checkbox" <%= "checked" if task.completed%>>
    <%= link_to task.title, task_path(task) %>
    <%= link_to "delete", task_path(task), method: :delete, data: {confirm: "are you sure?"} %>
  </li>
  <% end %>

</ul>
